.tag {
    background-color: #e7e7e7;
    width: fit-content;
    border-radius: 20px;
    font-size: 14px;
}

.tag:hover {
    background-color: #dbdbdb;
}

.bi-x {
    font-size: 12px;
}

.bi-x:hover {
    cursor: pointer;
}