.post-title {
    border-bottom: 1px solid #ccc;
}

.post-info {
    font-size: 14px;
}

.post-answers {
    flex: 1;
}

.post-answer {
    border-bottom: 1px solid #ccc;
    padding-left: 40px;
}

.post-related {
    width: 300px;
}

.post-details-interact {
    width: 100px;
}

.vote-item-details {
    width: 40px;
    height: 40px;
}

.bookmark-details {
    width: 40px;
    height: 40px;
}

.bookmark-details:hover {
    background-color: #dbe4e9;
    border-radius: 20px;
}

.vote-item-details:hover {
    background-color: #dbe4e9;
    border-radius: 20px;
}


img {
    max-width: 740px;
    margin-bottom: 10px;
}